body{
    font-family: "avenir";
}

button{
    color: white;
    border-radius: 5px;
}

.completeButton{
    background: green;
}

.removeButton{
    background: red;
}

.removeAllButton{
    background: red;
}