body{
    background: $backgroundColor;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    padding: 0;
    margin: 0;
    .wrapper{
        -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
                box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
        background: $mainColor;
        header{
            /* All header styling goes here */
            h1{
                font-size: 3.2em;
                font-style: italic;
                -webkit-text-fill-color: $mainColor;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
                margin: 0;
                padding: 35px 0 15px 0;
            }
            form{
                #whatTodo{
                    @include fontStyle;
                    border: 1px solid #757575;
                    padding: 12px;
                    width: 80%;
                }
                button{
                    @include fontStyle;
                    padding: 9px;
                    margin-top: 10px;
                    background: black;
                    color: white;
                    border: none;
                    width: 80%;
                    -webkit-transition: 0.4s;
                    -o-transition: 0.4s;
                    transition: 0.4s;
                }
                button:hover{
                    background: #5c5c5c;
                }    
            } //End tag for input form
            #messageBox{
                @include fontStyle;
                border-radius: 5px;
                font-weight: 600;
                height: 42px;
                padding: 1px;
                margin: auto;
                margin-top: 20px;
                width: 80%;
            }
            .message{
                background: rgba(255, 255, 0, 0.6);
                color: #6a6900;   
                -webkit-transition: 300ms;   
                -o-transition: 300ms;   
                transition: 300ms;
            }
            .wrong{
                background: rgba(255, 0, 0, 0.6);
                color:#6a0000;
                -webkit-transition: 300ms;
                -o-transition: 300ms;
                transition: 300ms;
            }
            .success{
                background: rgba(0, 255, 0, 0.6);
                color: #026a00;
                -webkit-transition: 300ms;
                -o-transition: 300ms;
                transition: 300ms;
            }
        } //End tag for header

        main{
            /* All main styling goes here */
            h2{
                font-size: 2.6em;
                letter-spacing: 5px;
            }
            .todoBox{
                width: 80%;
                @include boxStyling; 
                p{
                    @include boxParagraphStyling;
                }
                button{
                    @include boxButtonStyling;    
                }
                button:hover{
                    background: #5c5c5c;    
                }
            }
            .doneBox{
                width: 80%;
                @include boxStyling; 
                p{
                    @include boxParagraphStyling;
                }
                button{
                    @include boxButtonStyling;    
                }
                button:hover{
                    background: #5c5c5c;    
                }
            }
            /* Added classes to run animation below */
            .hide{
                -webkit-animation: fadeOut 500ms;
                        animation: fadeOut 500ms;
            }

            .show{
                -webkit-animation: fadeIn 500ms;
                        animation: fadeIn 500ms;
            }
        } //End tag for main

        footer{
            /* All footer styling goes here */
            .underline{
                border-bottom: 1px solid black;
                margin: auto;
                margin-top: 30px;
                width: 80%;
            }
            .delete{
                button{
                    @include fontStyle;
                    border: none;
                    background: none;
                    margin: 40px 0px 50px 0px;
                }
                button:hover{
                    text-decoration: underline;    
                }
            }
            
        }
    }
}